<ng-container *ngIf="standings$ | async as standings">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-center align-middle">#</th>
      <th class="text-center align-middle">Пара</th>
      <th class="text-center align-middle">Дуэли</th>
      <th class="text-center align-middle">Бонус</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let record of standings.records">
      <td class="text-center align-middle">{{record.rank}}</td>
      <td class="text-center align-middle">
        <span *ngIf="!record.pair.defined; else names">{{record.pair.name}}</span>
        <ng-template #names>
          <span>{{record.pair[0].name}}</span>
          <br/>
          <span>{{record.pair[1].name}}</span>
        </ng-template>
      </td>
      <td class="text-center align-middle">{{record.duelScore}}</td>
      <td class="text-center align-middle">{{record.bonusScore}}</td>
    </tr>
    </tbody>
  </table>
</ng-container>
