.protocol-list {
  width: 99%;
  margin: 0 auto;
  border-collapse: collapse;
  td.protocol-box {
    position: relative;
    box-sizing: content-box;
    border: 0.25pt dotted #ccc;
    padding-bottom: 72%;
  }
}
