<table class="protocol-list printable print-only">
  <tr *ngFor="let game of games">
    <td class="protocol-box">
      <protocol-template [game]="game">
        <protocol-print-form [game]="game"></protocol-print-form>
      </protocol-template>
    </td>
  </tr>
  <ng-container *ngIf="blanks > 0">
    <tr *ngFor="let game of blanks | seq">
      <td class="protocol-box">
        <protocol-template [game]="null">
          <protocol-print-form [game]="null"></protocol-print-form>
        </protocol-template>
      </td>
    </tr>
  </ng-container>
</table>
