$protocol-header-size: 20pt;
$protocol-marker-size: $protocol-header-size * 1.2;
$protocol-player-size: $protocol-header-size;
$protocol-suit-size: $protocol-header-size * 1.3;

.protocol {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 2mm 1mm;
  background-color: transparent;
  z-index: 1;
}

.frame-background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  & > * {
    position: absolute;
    width: 25%;
    padding-bottom: 25%;
    transform-origin: center center;
    background-image: radial-gradient(farthest-corner at bottom right, transparent 70%, rgba(0, 0, 0, 0.3));
    z-index: 0;
    pointer-events: none;
  }
  .north-west {
    left: 0;
    top: 0;
  }
  .north-east {
    right: 0;
    top: 0;
    transform: scaleX(-1);
  }
  .south-east {
    right: 0;
    bottom: 0;
    transform: scale(-1);
  }
  .south-west {
    left: 0;
    bottom: 0;
    transform: scaleY(-1);
  }
}

.player-seat {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  flex: 1 0 auto;
  &.north {
    flex-direction: column;
  }
  &.east {
    flex-direction: row-reverse;
  }
  &.south {
    flex-direction: column-reverse;
  }
  &.west {
    flex-direction: row;
  }
}

.seat-marker {
  position: relative;
  width: 1em;
  height: 1em;
  box-sizing: content-box;
  flex: 0 0 auto;
  line-height: 1;
  text-align: center;
  font-family: Georgia, monospace;
  font-size: $protocol-marker-size;
  font-weight: bold;
  &.dealer::after {
    content: 'D';
    position: absolute;
    width: 80%;
    height: 80%;
    text-align: center;
    font-size: $protocol-marker-size * 0.6;
    border-radius: 50%;
    border: 1pt dashed;
    line-height: $protocol-marker-size * 0.8;
    color: green;
  }
  .north &.dealer::after, .south &.dealer::after {
    top: 10%;
    left: 125%;
  }
  .west &.dealer::after, .east &.dealer::after {
    top: 125%;
    left: 10%;
  }
}

.player-name {
  height: 2.3em;
  flex: 1 1 auto;
  font-family: "Palatino Linotype", sans-serif;
  font-size: $protocol-player-size;
  text-align: center;
  line-height: 1.1;
  color: #b81;
  &.empty {
    border: 0.5pt solid #ccc;
    .north &, .south & {
      align-self: stretch;
      flex-grow: 0;
    }
    margin: 0.2em;
  }
  &::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
  }
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.mid-row {
  align-self: stretch;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.mid-area {
  text-align: center;
  h2 {
    font-size: $protocol-header-size;
  }
  h4 {
    font-size: $protocol-header-size * 0.6;
  }
  .spacer {
    display: inline-block;
    width: 1em;
  }
  .input-layout {
    margin: 0.5em auto 0 $protocol-suit-size;
    border-collapse: collapse;
    border: none;
    font-size: $protocol-header-size * 0.7;
    .teams {
      font-size: $protocol-header-size;
    }
    td {
      vertical-align: middle;
    }
    .legend-top {
      vertical-align: bottom;
      padding-bottom: 0.2em;
    }
    .legend-bottom {
      vertical-align: top;
      padding-top: 0.2em;
    }
  }
  .input {
    width: 2.5em;
    height: 1.5em;
    background-color: #fff;
    border: 0.2pt solid black;
    font-size: $protocol-header-size;
  }
  .suit-list {
    list-style: none;
    font-size: $protocol-suit-size;
    li {
      width: 1em;
      height: 1em;
      line-height: 1;
      color: #000;
    }
    .red-suit {
      color: #d00;
    }
  }
}
