<table class="protocol-list printable">
  <tr>
    <td class="protocol-box">
      <protocol-print></protocol-print>
    </td>
  </tr>
  <tr>
    <td class="protocol-box">
      <protocol-print></protocol-print>
    </td>
  </tr>
  <tr>
    <td class="protocol-box">
      <protocol-print></protocol-print>
    </td>
  </tr>
  <tr>
    <td class="protocol-box">
      <protocol-print></protocol-print>
    </td>
  </tr>
  <tr>
    <td class="protocol-box">
      <protocol-print></protocol-print>
    </td>
  </tr>
  <tr>
    <td class="protocol-box">
      <protocol-print></protocol-print>
    </td>
  </tr>
</table>
