<div class="protocol">
  <div class="frame-background" role="presentation">
    <div class="north-west"></div>
    <div class="north-east"></div>
    <div class="south-east"></div>
    <div class="south-west"></div>
  </div>
  <div class="player-seat north">
    <div class="seat-marker">N</div>
    <div class="player-name"><span>Василий<br/>Лясковский</span></div>
  </div>
  <div class="player-seat east">
    <div class="seat-marker">E</div>
    <div class="player-name"><span>Василий<br/>Лясковский</span></div>
  </div>
  <div class="player-seat south">
    <div class="seat-marker">S</div>
    <div class="player-name"><span>Василий<br/>Лясковский</span></div>
  </div>
  <div class="player-seat west">
    <div class="seat-marker">W</div>
    <div class="player-name"><span>Василий<br/>Лясковский</span></div>
  </div>
</div>
