$protocol-base-size: 24pt;
@import '../protocol/template/protocol';

@media print {
  .protocol-wrap {
    padding: 0 0 72.5%;
  }
  .protocol {
    padding: 2mm 1mm;
  }
  .seat-marker {
    font-size: $protocol-marker-size;
  }
  .player-name {
    font-size: $protocol-player-size;
  }
  .mid-area {
    font-size: $protocol-header-size;
  }
}
