<div class="protocol">
  <div class="player-seat north" [game]="game" position="N"></div>
  <div class="mid-row">
    <div class="player-seat west" [game]="game" position="W"></div>
    <div class="mid-area">
      <h2><span>Тур {{game.tour}}</span><span class="spacer">&nbsp;</span><span>Стол {{game.table | roman}}</span></h2>
      <h5>Сдача {{game.deal}}</h5>
      <table class="input-layout">
        <tr>
          <td colspan="2" class="legend-top">контракт</td>
          <td rowspan="5">
            <ul class="suit-list">
              <li class="red-suit">&hearts;</li>
              <li class="red-suit">&diams;</li>
              <li>&clubs;</li>
              <li>&spades;</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="input"></td>
          <td class="input"></td>
        </tr>
        <tr class="teams">
          <td>NS</td>
          <td>EW</td>
        </tr>
        <tr>
          <td class="input"></td>
          <td class="input"></td>
        </tr>
        <tr>
          <td colspan="2" class="legend-bottom">взятки</td>
        </tr>
      </table>
    </div>
    <div class="player-seat east" [game]="game" position="E"></div>
  </div>
  <div class="player-seat south" [game]="game" position="S"></div>
  <!--
  <div class="frame-background" role="presentation">
    <div class="north-west"></div>
    <div class="north-east"></div>
    <div class="south-east"></div>
    <div class="south-west"></div>
  </div>
  -->
</div>
