<div class="protocol">
  <div class="player-seat north">
    <div class="seat-marker dealer">N</div>
    <div class="player-name"><span>Василий<br/>Лясковский</span></div>
  </div>
  <div class="mid-row">
    <div class="player-seat west">
      <div class="seat-marker dealer">W</div>
      <div class="player-name"><span>Василий<br/>Лясковский</span></div>
    </div>
    <div class="mid-area">
      <h2><span>Тур 3</span><span class="spacer">&nbsp;</span><span>Стол 1</span></h2>
      <h5>Сдача 3</h5>
      <table class="input-layout">
        <tr>
          <td colspan="2" class="legend-top">контракт</td>
          <td rowspan="5">
            <ul class="suit-list">
              <li class="red-suit">&hearts;</li>
              <li class="red-suit">&diams;</li>
              <li>&clubs;</li>
              <li>&spades;</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="input"></td>
          <td class="input"></td>
        </tr>
        <tr class="teams">
          <td>NS</td>
          <td>EW</td>
        </tr>
        <tr>
          <td class="input"></td>
          <td class="input"></td>
        </tr>
        <tr>
          <td colspan="2" class="legend-bottom">взятки</td>
        </tr>
      </table>
    </div>
    <div class="player-seat east">
      <div class="seat-marker dealer">E</div>
      <div class="player-name"><span>Василий<br/>Лясковский</span></div>
    </div>
  </div>
  <div class="player-seat south">
    <div class="seat-marker dealer">S</div>
    <div class="player-name"><span>Василий<br/>Лясковский</span></div>
  </div>
  <!--
  <div class="frame-background" role="presentation">
    <div class="north-west"></div>
    <div class="north-east"></div>
    <div class="south-east"></div>
    <div class="south-west"></div>
  </div>
  -->
</div>
