<div class="contract">
  <div class="btn-group btn-group-toggle d-block mx-auto mb-1">
    <label class="btn btn-sm btn-outline-dark py-0"
           [class.active]="contract.suit === 'S'" [class.disabled]="contract.level === -1">
      <input type="radio" name="suit" [disabled]="contract.level === -1" value="S"
             [(ngModel)]="contract.suit" (ngModelChange)="onUpdate('suit', $event)"/>&spades;
    </label>
    <label class="btn btn-sm btn-outline-dark py-0"
           [class.active]="contract.suit === 'C'" [class.disabled]="contract.level === -1">
      <input type="radio" name="suit" [disabled]="contract.level === -1" value="C"
             [(ngModel)]="contract.suit" (ngModelChange)="onUpdate('suit', $event)"/>&clubs;
    </label>
    <label class="btn btn-sm btn-outline-dark py-0"
           [class.active]="contract.suit === 'D'" [class.disabled]="contract.level === -1">
      <input type="radio" name="suit" [disabled]="contract.level === -1" value="D"
             [(ngModel)]="contract.suit" (ngModelChange)="onUpdate('suit', $event)"/><span
      [class.text-danger]="contract.suit !== 'D'">&diams;</span>
    </label>
    <label class="btn btn-sm btn-outline-dark py-0"
           [class.active]="contract.suit === 'H'" [class.disabled]="contract.level === -1">
      <input type="radio" name="suit" [disabled]="contract.level === -1" value="H"
             [(ngModel)]="contract.suit" (ngModelChange)="onUpdate('suit', $event)"/><span
      [class.text-danger]="contract.suit !== 'H'">&hearts;</span>
    </label>
    <label class=" btn btn-sm btn-outline-dark py-0"
           [class.active]="contract.suit === 'N'" [class.disabled]="contract.level === -1">
      <input type="radio" name="suit" [disabled]="contract.level === -1" value="N"
             [(ngModel)]="contract.suit" (ngModelChange)="onUpdate('suit', $event)"/>&mdash;
    </label>
  </div>
  <div class="btn-group btn-group-toggle d-block mx-auto mb-1">
    <label class="btn btn-sm btn-outline-dark py-0" [class.active]="contract.level === -1">
      <input type="radio" name="level" value="-1"
             [(ngModel)]="contract.level" (ngModelChange)="onUpdate('level', $event)"/>&mdash;
    </label>
    <label *ngFor="let level of 7 | seq : 1" class="btn btn-sm btn-outline-dark py-0"
           [class.active]="contract.level === level">
      <input type="radio" name="level" [value]="level"
             [(ngModel)]="contract.level" (ngModelChange)="onUpdate('level', $event)"/>{{level}}</label>
  </div>
  <div class="btn-group btn-group-toggle d-block mx-auto mb-1">
    <label class="btn py-0"
           [class.active]="contract.owner === 'NS'" [class.disabled]="contract.level === -1"
           [class.btn-primary]="contract.owner === 'NS'" [class.btn-outline-primary]="contract.owner !== 'NS'">
      <input type="radio" name="owner" [disabled]="contract.level === -1" value="NS"
             [(ngModel)]="contract.owner" (ngModelChange)="onUpdate('owner', $event)"/>NS
    </label>
    <label class="btn py-0"
           [class.active]="contract.owner === 'EW'" [class.disabled]="contract.level === -1"
           [class.btn-primary]="contract.owner === 'EW'" [class.btn-outline-primary]="contract.owner !== 'EW'">
      <input type="radio" name="owner" [disabled]="contract.level === -1" value="EW"
             [(ngModel)]="contract.owner" (ngModelChange)="onUpdate('owner', $event)"/>EW
    </label>
  </div>
</div>
