<div class="contract">
  Контракт&nbsp;<select
  [name]="gameId + '-level'" [id]="gameId + '-level'"
  [(ngModel)]="contract.level" (ngModelChange)="onUpdate('level', $event)">
    <option [ngValue]="-1">&mdash;</option>
    <option [ngValue]="1">1</option>
    <option [ngValue]="2">2</option>
    <option [ngValue]="3">3</option>
    <option [ngValue]="4">4</option>
    <option [ngValue]="5">5</option>
    <option [ngValue]="6">6</option>
    <option [ngValue]="7">7</option>
  </select><span *ngIf="contract.level > 0">&nbsp;<select
  [name]="gameId + '-suit'" [id]="gameId + '-suit'"
  [(ngModel)]="contract.suit" (ngModelChange)="onUpdate('suit', $event)">
    <option value="C">&clubs;</option>
    <option value="D">&diams;</option>
    <option value="H">&hearts;</option>
    <option value="S">&spades;</option>
    <option value="N">&mdash;</option>
  </select> от&nbsp;<select
  [name]="gameId + '-owner'" [id]="gameId + '-owner'"
  [(ngModel)]="contract.owner" (ngModelChange)="onUpdate('owner', $event)">
    <option value="NS">NS</option>
    <option value="EW">EW</option>
  </select></span>
</div>
