<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="use_outer_join">true</property>
    <property name="generate_statistics">true</property>
    <property name="max_fetch_depth">3</property>
    <property name="hibernate.connection.CharSet">utf8</property>
    <property name="hibernate.connection.characterEncoding">utf8</property>
    <property name="hibernate.connection.useUnicode">true</property>
    <property name="hibernate.id.new_generator_mappings">true</property>

    <mapping resource="com/oliver/thelper/model/GameSlot.hbm.xml" />
    <mapping resource="com/oliver/thelper/model/Schedule.hbm.xml" />
    <mapping resource="com/oliver/thelper/model/Tournament.hbm.xml" />
    <mapping resource="com/oliver/thelper/model/Player.hbm.xml" />
    <mapping resource="com/oliver/thelper/model/Protocol.hbm.xml" />
  </session-factory>
</hibernate-configuration>