<table class="table table-striped" *ngIf="games$ | async as games">
  <colgroup>
    <col width="10%"/>
    <col *ngFor="let _ of games[0]"/>
  </colgroup>
  <thead>
  <tr>
    <th></th>
    <th *ngFor="let game of games[0]">{{game.table | roman}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tourGames of games">
    <th>{{tourGames[0].tour}}</th>
    <td *ngFor="let game of tourGames">
      <a [routerLink]="['..', 'protocol', game.tour, game.table]">
        <span>{{game.pairs['NS'].name}}</span> vs.
        <span>{{game.pairs['EW'].name}}</span>
      </a>
      in {{game.deal}}
    </td>
  </tr>
  </tbody>
</table>
