.protocol-sizer {
  position: relative;
  width: 100%;
  padding-top: 70%;
  min-width: 200px;
}

.protocol-frame {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: 25% auto 25%;
  grid-template-areas: ". N . " "W center E" ". S .";
  background-color: #eeeeee;
  * {
    _background-color: rgba(0, 0, 0, 0.1);
  }
}

.protocol-cell {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  & > * {
    flex: 0 1 auto;
  }
  &.north {
    grid-area: N;
    flex-direction: column;
  }
  &.east {
    grid-area: E;
    flex-direction: row-reverse;
  }
  &.south {
    grid-area: S;
    flex-direction: column-reverse;
  }
  &.west {
    grid-area: W;
    flex-direction: row;
  }
  &.center {
    padding: 2em;
    flex: 1 1 100%;
    grid-area: center;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
}

.name-box {
  padding: 0.5em;
  font-size: 150%;
  text-align: center;
}

.position-mark {
  box-sizing: content-box;
  height: 1em;
  width: 1em;
  margin: 0.5em;
  font-family: "MS Gothic", Georgia, monospace;
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: blue;
  &.dealer {
    border: 1px solid;
  }
}

.legend {
  font-size: 150%;
  text-align: center;
  .header {
    margin-bottom: 0.5em;
    * {
      margin: 0;
      font-size: 100%;
    }
    h1 {
      font-size: 125%;
      font-weight: bold;
      margin-bottom: 0.3em;
    }
    h2 {
      font-size: 80%;
      margin-bottom: 0.3em;
    }
  }
}
