<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="status">
    Tournament
    <!--
    <tournament-start ng-switch-when="not-started"></tournament-start>
    <tournament-progress ng-switch-when="in-progress"></tournament-progress>
    <tournament-finish ng-switch-when="finished"></tournament-finish>
    -->
  </div>
  <div role="tabpanel" class="tab-pane" id="players" data-players></div>
  <div role="tabpanel" class="tab-pane" id="schedule" data-schedule>Schedule</div>
  <div role="tabpanel" class="tab-pane" id="duels" data-duels>Duels</div>
  <div role="tabpanel" class="tab-pane" id="scores" data-scores></div>
</div>
