<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="status">
    Tournament
    <!--
    <tournament-start ng-switch-when="not-started"></tournament-start>
    <tournament-progress ng-switch-when="in-progress"></tournament-progress>
    <tournament-finish ng-switch-when="finished"></tournament-finish>
    -->
  </div>
  <div role="tabpanel" class="tab-pane" id="players" [pairs]="tournament.pairs" data-players></div>
  <div role="tabpanel" class="tab-pane" id="games" [games]="tournament.games" data-games></div>
  <div role="tabpanel" class="tab-pane" id="duels" [pairs]="tournament.pairs" [duels]="tournament.duels"
       data-duels></div>
  <div role="tabpanel" class="tab-pane" id="scores" [standings]="tournament.standings" data-scores></div>
</div>
