<div class="contract">
  Контракт&nbsp;<select [id]="gameId + '-level'" [(ngModel)]="contract.level">
  <option [ngValue]="-1">&mdash;</option>
  <option [ngValue]="1">1</option>
  <option [ngValue]="2">2</option>
  <option [ngValue]="3">3</option>
  <option [ngValue]="4">4</option>
  <option [ngValue]="5">5</option>
  <option [ngValue]="6">6</option>
  <option [ngValue]="7">7</option>
</select><span *ngIf="contract.level > 0">&nbsp;<select
  [id]="gameId + '-suit'" [(ngModel)]="contract.suit">
    <option value="C">♣</option>
    <option value="D">♦</option>
    <option value="H">♥</option>
    <option value="S">♠</option>
    <option value="NT">БК</option>
  </select> от&nbsp;<select [id]="gameId + '-owner'" [(ngModel)]="contract.owner">
    <option value="NS">NS</option>
    <option value="EW">EW</option>
  </select></span>
</div>
