<nav class="navbar navbar-expand-lg navbar-dark bg-dark no-print">
  <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="expanded"
          aria-label="Toggle navigation" (click)="expanded = !expanded">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent" [class.show]="expanded" (click)="expanded = false">
    <ul class="navbar-nav">
      <li class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" [routerLink]="['/']">Все турниры</a></li>
      <ng-container *ngIf="tournamentId$ | async as tid">
        <li class="nav-item dropdown-divider"></li>
        <li class="nav-item"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" [routerLink]="['/', tid]">Обзор</a></li>
        <li class="nav-item"
            routerLinkActive="active"><a class="nav-link" [routerLink]="['/', tid, 'players']">Участники</a></li>
        <li class="nav-item"
            routerLinkActive="active"><a class="nav-link" [routerLink]="['/', tid, 'print']">Материалы</a></li>
        <li class="nav-item"
            routerLinkActive="active"><a class="nav-link" [routerLink]="['/', tid, 'games']">Расписание</a></li>
        <li class="nav-item"
            routerLinkActive="active"><a class="nav-link" [routerLink]="['/', tid, 'protocol']">Игры</a></li>
        <li class="nav-item"
            routerLinkActive="active"><a class="nav-link" [routerLink]="['/', tid, 'duels']">Дуэли</a></li>
        <li class="nav-item"
            routerLinkActive="active"><a class="nav-link" [routerLink]="['/', tid, 'standings']">Результаты</a></li>
      </ng-container>
    </ul>
  </div>
</nav>
