<table class="table table-striped">
  <colgroup>
    <col width="10%"/>
    <col *ngFor="let game of (games$ | async)[0]"/>
  </colgroup>
  <thead>
  <tr>
    <th></th>
    <th *ngFor="let game of (games$ | async)[0]">{{game.table}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tourGames of games$ | async">
    <th>{{tourGames[0].tour}}</th>
    <td *ngFor="let game of tourGames">
      <a [routerLink]="['..', 'protocols', game.tour, game.table]">
        <span>{{game.players['N']}}{{game.players['S']}}</span> vs.
        <span>{{game.players['E']}}{{game.players['W']}}</span>
      </a>
      in {{game.deal}}
    </td>
  </tr>
  </tbody>
</table>
