/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

label.required {
  &::before {
    content: '*';
    font-size: 120%;
    color: var(--danger);
  }
}
