<table class="table table-sm table-bordered" *ngIf="tournament$ | async as tournament">
  <thead>
  <tr>
    <th scope="row" class="self"></th>
    <th scope="col" class="text-center" *ngFor="let pair of tournament.pairs; let j = index"
        (click)="selectedColumn = j">{{pair.name}}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pairTotal of tournament.duels; let i = index">
    <th scope="row" class="text-right align-middle"
        (click)="selectedRow = i">{{tournament.pairs[i].name}}
    </th>
    <td class="text-center align-middle"
        *ngFor="let pairDuels of pairTotal; let j = index" [class.self]="!pairDuels"
        (click)="selectedRow = i; selectedColumn = j">
      <div class="expandable-content"
           [class.wide]="j === selectedColumn"
           [style.height.em]="i === selectedRow && (i === j || j === selectedColumn) ? cellHeight : duelHeight">
        <ng-container *ngIf="pairDuels">
          <ul class="list-unstyled m-0" *ngIf="i === selectedRow && j === selectedColumn; else summary">
            <li class="duel-details" *ngFor="let duel of pairDuels">
              {{'duels.deal' | translate}} {{duel.deal}} / {{duel.position}} : {{duel.scores[duel.getPairIndex(tournament.pairs[i])]}}
            </li>
          </ul>
          <ng-template #summary>{{duelTotals[i][j]}}</ng-template>
        </ng-container>
      </div>
    </td>
  </tr>
  </tbody>
</table>
