.self {
  background-image: repeating-linear-gradient(-45deg, black 0, black 0.2em, transparent 0.2em, transparent 1em);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top left;
}
