<table *ngIf="tournament$ | async as tournament">
  <thead>
  <tr>
    <th></th>
    <th *ngFor="let pair of tournament.pairs">{{pair.name}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pairTotal of tournament.duels; let i = index">
    <th>{{tournament.pairs[i].name}}</th>
    <td *ngFor="let pairDuels of pairTotal" [class.self]="!pairDuels">
      <ul *ngIf="pairDuels">
        <li *ngFor="let duel of pairDuels">
          на {{duel.deal}} в {{duel.position}} : {{duel.scores[duel.getPairIndex(tournament.pairs[i])]}}
        </li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
